*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /*background: url("/resource/img/TitleLog.jpg") fixed;
    /*background-color: #222222;*/
    background: rgb(54, 54, 54);
    font-family: 'Varela Round', sans-serif;
}
a{
    color: #e3e2e6;
}
.breadcrumb{
    /*background-color: rgba(23,27,36,0.9);*/
    background-color: rgb(39, 39, 39);
    width: 60vw;
}
.blocks-container{
    /*border: 1px dot-dash #000; !* Рамка вокруг текста *!*/
    padding: 1em;
    color: #e3e2e6;
    background: rgba(23,27,36,1);
    border-bottom: 1px solid white;
    border-top: 1px solid white;

    /*width: 30vw;*/
}
.blocks-container>a{
    text-decoration: none;
}
.blocks-container>a:hover{
    color: #6351ce;
}



hr{
    border: 1px dot-dash  #e3e2e6;
}
.m-blocks-container{
    border: 2px solid black;
    background-color: rgba(23,27,36,1);
    color: #e3e2e6;

    font-family: 'Varela Round', sans-serif;
}
.m-blocks-container>h3 {
    margin-top: 0.3em;
    margin-left: 1em;
    color: #e3e2e6;
}
.listInline{
    margin: 0; /* Обнуляем значение отступов */
    font-size: 14px;
}
.listInline>a{
    display: inline; /* Отображать как строчный элемент */
    margin-right: 2px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
}
.pouring{
    font-size: 25px;
}
.pouring>p{
    padding-top: 0.5em;
}


.profile{
    background: rgb(39, 39, 39);
}
.user-fon{
}
.user-fon>img{
    width: 100%;
    height: 300px;
}
.user{
    display: flex;
    width: 100%;
    background-color: #233056;
}
.user-profile{
    /*margin-left: 5em;*/
    height: 100%;
    margin: 2em;
}
.user-profile>img{
    width:120px;
}
.user-profile-void{
    width: 100%;
    margin: 2em;
    list-style: none;
}
.my-forum-container{
    width: 100%;
    margin-top: 5vw;
    margin-bottom: 5vw;
}






